.container{
    width : 80%;
    height: 80vh;
    margin: 80px auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.colour{
    height: 200px;
    width: 200px;
    margin:auto;
    cursor: pointer;
}

#red{
    background-color: rgba(255, 0, 0, 0.527);
}

#blue{ 
   background-color: rgba(27, 27, 146, 0.678);
}

#yellow{
    background-color: rgba(255, 255, 0, 0.582);
}

#green{
    background-color: rgba(0, 128, 0, 0.507);
}

.light-red{
    background-color: rgb(255, 67, 67);
}