.container{
    width : 80%;
    height: 80vh;
    margin: 80px auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.colour{
    height: 200px;
    width: 200px;
    margin:auto;
    cursor: pointer;
}

#red{
    background-color: #fc0707;
}

#blue{ 
   background-color: #1b1eb4;
}

#yellow{
    background-color: #c0dd3c;
}

#green{
    background-color: #0a9e3b;
}

.light-red{
    background-color: #ee8989
}