.container {
    width: 80%;
    height: 80vh;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.colour {
    height: 200px;
    width: 200px;
    margin: auto;
    cursor: pointer;
    border-radius: 15em;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.light-red {
    background-color: lightcoral;
}

.light-blue {
    background-color: lightblue;
}

.light-yellow {
    background-color: lightyellow;
}

.light-green {
    background-color: lightgreen;
}



.begin-container {
    width: 100%;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.begin {
    background-color: slategray;
    color: #fafafa;
    height: 90vh;
    width: 90%;
    border-radius: 2em;
    transition: 1s ease-in-out;
    z-index: 12;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
    z-index: -5;
}

.no-pointer-events {
    pointer-events: none;
}

.yes-pointer-events {
    pointer-events: all;
}