/*-----------------------------------------------------Universals*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;

}

.selector {
    width: 50%;
    margin: auto;
    text-align: center;
}

.selector select {
    width: 80%;
    color: black;
    margin: 7px;
    border-radius: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/*-----------------------------------------------------page structure*/
.tutorial-container,
.begin-container,
.container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;
    background-color: blueviolet;
}

.tutorial-container {
    z-index: 3;
    background-color: royalblue;
}

.tutorial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.tutorials{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
}

.how-to-play{
    width: 400px;
    height: 200px;
    text-align: center;
    border: 2px solid white;
    margin: 10px;
}

.colour {
    height: 10em;
    width: 80%;
    margin: auto;
    cursor: pointer;
    border-radius: 1em;
}


#tutorial-button {
    background-color: slategray;
    color: #fafafa;
    width: 20%;
    height: 10%;
    transition: 1s ease-in-out;
    border-radius: 2em;
    margin: 10px, 0px, 50px, 0px auto;
}


/*-----------------------------------------------------Location Changes*/

.fadeIn {
    opacity: 1;
    z-index: 5;
}

.fadeOut {
    opacity: 0;
    z-index: -5;
}

.no-pointer-events {
    pointer-events: none;
}

.yes-pointer-events {
    pointer-events: all;
}

.disappeared {
    display: none;
}

.appeared {
    display: block;
}

/*-----------------------------------------------------Colours*/
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.light-red {
    background-color: lightcoral;
}

.light-blue {
    background-color: lightblue;
}

.light-yellow {
    background-color: lightyellow;
}

.light-green {
    background-color: lightgreen;
}

.purple {
    background-color: purple;
}

.light-purple {
    background-color: lavender;
}

.orange {
    background-color: orange;
}

.light-orange {
    background-color: lightsalmon;
}

/*-----------------------------------------------------Media Queries*/
@media only screen and (max-height: 1000px) {
    .colour {
        height: 7em;
    }
}