/*-----------------------------------------------------Universals*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.selector{
    width: 20%;
    margin: auto;
    color: black;
}

.selector select{
    width: 80%;
    color: black;
}


/*-----------------------------------------------------page structure*/
.tutorial-container,
.begin-container,
.container{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}


.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;
    background-color: blueviolet;
}

.tutorial-container{
    z-index: 3;
    background-color: royalblue;
}

.tutorial{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.begin-container{
    z-index: 2;
    background-color: #bada55;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    align-items: center;
}

.colour {
    height: 10em;
    width: 80%;
    margin: auto;
    cursor: pointer;
    border-radius: 1em;
}


.begin {
    background-color: slategray;
    color: #fafafa;
    width:20%;
    height: 10%;
    transition: 1s ease-in-out;
    border-radius: 2em;
}

/*-----------------------------------------------------Location Changes*/

.fadeIn {
    opacity: 1;
    z-index: 5;
}

.fadeOut {
    opacity: 0;
    z-index: -5;
}

.no-pointer-events {
    pointer-events: none;
}

.yes-pointer-events {
    pointer-events: all;
}

.disappeared {
    display: none;
}

.appeared {
    display: block;
}

/*-----------------------------------------------------Colours*/
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.light-red {
    background-color: lightcoral;
}

.light-blue {
    background-color: lightblue;
}

.light-yellow {
    background-color: lightyellow;
}

.light-green {
    background-color: lightgreen;
}

.purple {
    background-color: purple;
}

.light-purple {
    background-color: lavender;
}

.orange {
    background-color: orange;
}

.light-orange {
    background-color: lightsalmon;
}

/*-----------------------------------------------------Media Queries*/
@media only screen and (max-height: 1000px) {
    .colour {
        height: 7em;
    }
}