/* Universals   -----------------------------------------------------Universals*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;

}

a {
    cursor: pointer;
    text-decoration: none;
}


/* Page structures / Containers-----------------------------------------------------Page Structures / Containers*/

.tutorial-container,
.container {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.container {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
    background-color: #fafafa;
}

.tutorial-container {
    z-index: 3;
    background-color: #4169E1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*  Tutorials --------------------------------------------------------  Tutorials */
.tutorial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.tutorials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 40%;
}

.welcome,
.selector,
.foot {
    min-height: 20%;
    margin: 50px;
}

.welcome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.how-to-play {
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 10px;
}

.colour {
    height: 8em;
    width: 80%;
    margin: auto;
    cursor: pointer;
    border-radius: 1em;
}

.selector {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.selector select {
    width: 80%;
    color: black;
    margin: 7px;
    border-radius: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#tutorial-button {
    background-color: #fafafa;
    color: rgb(76, 80, 83);
    width: 20%;
    height: 5em;
    transition: 1s ease-in-out;
    border-radius: 2em;
    margin: 10px, 0, 50px, 0 auto;
    font-size: 1em;
    font-weight: bold;
}

.foot {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Modals  -----------------------------------------------------  Modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



.close {
    color: #fafafa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4169E1;
    color: #fafafa;
}

.modal-body {
    padding: 2px 16px;
    color: #4169E1;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #4169E1;
    color: #fafafa;
}

/* Style Changes -----------------------------------------------------  Style Changes*/

.fadeIn {
    opacity: 1;
    z-index: 5;
}

.fadeOut {
    opacity: 0;
    z-index: -5;
}

.no-pointer-events {
    pointer-events: none;
}

.disappeared {
    display: none;
}

.appeared {
    display: block;
}

/*  Colours  -----------------------------------------------------  Colours  */
.red {
    background-color: #fd225f;
}

.orange {
    background-color: #fed245;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: #46c1a3;
}

.blue {
    background-color: #612ea7;
}

.purple {
    background-color: #1f2168;
}

.light-red {
    background-color: lightcoral;
}

.light-orange {
    background-color: lightsalmon;
}

.light-yellow {
    background-color: lightyellow;
}

.light-green {
    background-color: lightgreen;
}

.light-blue {
    background-color: lightblue;
}

.light-purple {
    background-color: lavender;
}

/*  Media Queries  -----------------------------------------------------  Media Queries*/
@media only screen and (max-height: 1000px) {
    .colour {
        height: 7em;
    }
}


/*  Animations  -----------------------------------------------------  Animations*/
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}